@use './header';
// style.scss
@use "vendor";
@use "base";
@use "components";
@use "layout";
@use "pages";
@use "themes";


// declare mixins in a file, specifically: abstracts/_mixins.scss
@mixin fontProperties() {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

// then import the mixins and use it in a file
// base/_base.scss
@use "../abstracts/mixins";

body {
  @include mixins.fontProperties();
}


$color__primary: #d74100;
$font_primary: Arial,Verdana, sans_serif;




html,body,h1,h2,h3,h4,h5,h6,p,ul,li,button{
    margin:0;
    padding:0;
    font:inherit;


}

*{
box-sizing: border-box;

}

body{
    background-color: $color__primary;



}



:root {
  --airbnb-pink: #ff385c;
 }
 
 
 .logo {
  width: 150px;
  height: auto;
  fill: var(--airbnb-pink);
 }
 
 header {
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

nav {
  background-color: pink; // temporary color
  ul {
    display: flex;
    gap: 1rem;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: $color__primary;
        }
      }
    }
  }
}


.overlay{
    width:100vw;
    height:100vh;
    background: limegreen;
    position:fixed;
    top:0;
    left:-100vw;
    z-index:1000;
    transition:all .5s;
}
.overlay.active{
    left:0;
}

.room{
    padding: top 1rem;
    padding-bottom:1rem;
    border-bottom: 1px solid green;


}


.room--name{
    font: size 1.5rem;
    font-weight:bold;
    font-family:Arial, 
}

.room--description{
    font-size: 1rem;
    font-family:Arial;
    font-style:italic;
}

.category{
    padding-top:1rem;
    padding-bottom:1rem;



}

.category h2{

     font-weight:bold;
     font-family:Arial;
     font-size:2rem;


}


  


  nav {
    background-color: $color__primary; // temporary color
    ul {
      display: flex;
      gap: 1rem;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            color: $color__primary;
          }
        }
      }
    }
  }